*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

.classListBorder{
  border: 2px solid rgba(128, 0, 128, 0.466);
}

/*YEARLY AND MONTHLY FOR DISPLAY NONE */
 
.pro-main-yearly{
  display: none;
}

.advanced-main-yearly{
  display: none;
}

.arcade-main-yearly{
  display: none;
}

.pro-main-monthly{
  display: none;
}

.advanced-main-monthly{
  display: none;
}

.final-price-yearly{
  background-color: ghostwhite;
  border: none;
  display: none;
}

.right-side-thank-you{
  display: none;
}

.final-price-monthly{
  display: none;
}

.custom-profile-price-monthly{
  display: none;
}

.larger-storage-price-monthly {
  display: none;
}

.online-service-price-monthly{
  display: none;
}

.arcade-monthly-main{
  display: none;
}

.right-side-step-four{
  display: none;
}

.add-on-yearly-customizable-profile{
  display: none;
}

.add-on-yearly-larger-storage{
  display: none;
}

.add-on-yearly-online-service{
  display: none;
}

.right-side-step-three{
display: none;
}

.right-side-step-two{
display: none;
}

/* first section for left and right side */

.ball-move{
  position: relative;
  transform: translateX(15px);
  transition: .2s;
}

.container{
  width: 50%;
  height: 600px;
  background-color: ghostwhite;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  display: flex;
}

.left-side{
  width: 450px;
  height: 100%;
  background-image: url('bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 30px;
}

.info{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.step-number{
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  color: ghostwhite;
  font-weight: bold;
}

.step-one-text{
  font-size: .9rem;
  text-transform: uppercase;
  color: rgba(248, 248, 255, 0.644);
  font-weight: 100;
  margin-bottom: 5px;
}

.step-text{
  font-size: 1rem;
  color: ghostwhite;
  text-transform: uppercase;
  font-weight: bold;
}

.spacing{
  margin-left: 20px;
}

.right-side{
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 30px;
  /* i added 100% here to fill whole right side */
  width: 100%;
}

input{
  width: 90%;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.548);
  border-radius: 5px;
  margin-bottom: 25px;
  padding-left: 15px;
}

.head-text{
  font-size: 2.5rem;
  color: rgb(45, 39, 83);
  margin-bottom: 10px;
}

.right-side-step-three{
  margin-left: 30px;
}

.info-text{
  color: grey;
  font-size: 1rem;
}

.input-fields{
  margin-top: 30px;
}

.name-text{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}

.action-for-step-one-btn{
  display: flex;
  justify-content: end;
  align-items: end;
  height: 60px;
  /* added 80 here because btns were off to the right */
  width: 90%;
}

.step-one-btn{
  padding: 15px 30px 15px 30px;
  background-color: rgb(63, 53, 116);
  color: ghostwhite;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: unset;
}

.right-side-step-two{
  margin-left: 20px;
}

/* end of right side first section */

.select-three-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.plan:hover{
  box-shadow:0px 0px 5px rgba(66, 37, 134, 0.808); 
}

.plan{
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.808);
  width: 140px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
}

.text-above-plans{
  margin-bottom: 30px;
}

.plan-text{
  font-size: 1rem;
  position: relative;
  top: 20px;
}

.plan-cost-text{
  color: grey;
}

.monthly-or-yearly{
  width: 90%;
  background-color: rgba(71, 61, 139, 0.048);
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.toggle-outer{
  background-color: rgb(41, 23, 92);
  height: 25px;
  border-radius: 20px;
  width: 40px;
  padding: 5px;
}

.red-plan-text{
  color: rgba(255, 0, 0, 0.596);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 20px;
  display: none;
}

.ball-inner{
  height: 100%;
  width: 15px;
  border-radius: 50%;
  background-color: ghostwhite;
  transition: .2s ease;
}

.monthly-text, .yearly-text{
  font-weight: bold;
  cursor: pointer;
  color: grey;
}

.actions-for-step-two-btn{
  margin-top: 100px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* added 80 here because btn was on center to the right */
  width: 80%;
}

.go-back-btn-one{
  border: none;
  outline: none;
  box-shadow: none;
  background-color: ghostwhite;
  cursor: pointer;
  color: rgba(97, 95, 95, 0.733);
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  bottom: 5px;
}

.go-back-btn-one:hover{
  text-decoration: underline;
}

/* end of second section */

.checkbox{
  padding: 10px;
  height: 20px;
  width: 20px;
  position: relative;
  top: 12px;
  accent-color: rgb(64, 95, 235);
}

.wrapper-for-add-on{
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.212);
  display: flex;
  height: 70px;
  align-items: center;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(62, 24, 105, 0.548);
  cursor: pointer;
}

.add-on-text{
  font-size: .8rem;
  color: rgba(128, 128, 128, 0.747);
}

.name-of-add-on-text{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 3px;
}

.add-on-price{
  font-size: .9rem;
  color: rgb(86, 24, 136);
  font-weight: bold;
}

.move-left-checkbox{
  position: relative;
  left: -5px;
}

.move-left-checkbox-text{
  position: relative;
  left: -15px;
}

.actions-for-step-three-btn{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
}

.arcade-monthly-main{
  display: flex;
  justify-content: space-between;
  background-color: rgba(108, 107, 124, 0.062);
  width: 90%;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.change-btn{
  background-color: none;
  text-decoration: underline;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgba(24, 24, 75, 0.63);
  cursor: pointer;
}

.text-above-plans{
  width: 85%;
}

.arcade-price{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(11, 11, 83, 0.712);
}

.arcade-text{
  color: rgb(35, 35, 104);
}

.price-for-monthly-add-on{
  font-size: 1rem;
  color: rgb(82, 80, 80);
}

.add-on-price-tag{
  border-bottom: unset;
}

.final-price-monthly{
  background-color: ghostwhite;
  border: none;
}

.final-price-monthly-text{
  font-size: 1.3rem;
  color: rgb(125, 43, 158);
  font-weight: 800;
}

.actions-for-step-four-btn{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 75px;
  margin-top: 50px;
}

.actions-for-step-five-btn{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
}

.total-text-month{
  font-size: 1.3rem;
  font-weight: 800;
}

.confirm-btn{
  font-size: 1rem;
}

.right-side-thank-you{
  width: 100%;
}

.thank-you-section{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you-section img{
  margin-bottom: 20px;
}

.thank-you-section h1{
  margin-bottom: 20px;
}

.thank-you-section p{
  max-width: 80%;
  line-height: 1.5em;
}

.larger-yearly-text{
  position: relative;
  left: -12px;
}

.move-right-text{
  position: relative;
  left: 4px;
}

.move-input-left{
  position: relative;
  left: -5px;
}

/*  */

.final-price-yearly{
  display: none;
}

.final-price-monthly{
  display: none;
}

.custom-profile-price-monthly {
  display: none;
}

.larger-storage-price-monthly{
  display: none;
}

.online-service-price-monthly{
  display: none;
}

.pro-main-yearly{
  display: none;
}

.advanced-main-yearly{
  display: none;
}

.arcade-main-yearly{
  display: none;
}

.pro-main-monthly{
  display: none;
}

.advanced-main-monthly{
  display: none;
}

.arcade-monthly{
  display: none;
}


.plan-active-click{
  border: 2px solid rgba(128, 0, 128, 0.466);
}

/*  */

.online-service-price-yearly{
  display: none;
}

.larger-storage-price-yearly{
  display: none;
}

.custom-profile-price-yearly{
  display: none;
}

